.DS_Store
.idea/
node_modules/
database/model.mwb.bak
document/_book
my-project/build
my-project/dist
my-project/node_modules
my-project/plugins
web/composer.lock
web/uploads/
web/runtime/
web/thinkphp/
web/log/
web/vendor/
web/config/database.php
vue/node_modules/

