* {
  margin: 0;
  padding: 0;
  cursor: pointer !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  color: #333;
  position: relative;
  cursor: pointer !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
.page {
  background: #fff;
}
::-webkit-scrollbar {
  display: none;
}
img {
  border: none;
}
p {
  margin: 0;
  padding: 0;
}
h4,
h5,
h6 {
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
input,
button,
textarea,
select,
optgroup,
option {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
}
em,
strong {
  font-style: normal;
  font-weight: normal;
}
li,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #444;
}
/*****************/
/* 解决IOS input，button默认样式问题 */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
}
input,
button,
a {
  outline: 0 none !important;
  -webkit-tap-highlight-color: transparent;
  border: none;
  background-color: initial;
}
input:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  -webkit-appearance: none;
}
/* link */
a {
  text-decoration: none;
  color: #666;
}
/* 清除浮动 */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.container {
  padding: .75rem;
  height: auto;
  overflow: hidden;
}
.sweper-progressbar {
  background: #e60012;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.auto {
  margin: 0 auto;
}
/*超出隐藏*/
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-more {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/********** Image *********/
.responsive-img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/********** Width / Height *********/
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
/********** Float *********/
.fl {
  float: left;
}
.fr {
  float: right;
}
/********** Align *********/
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
/********** Font Size *********/
.bold {
  font-weight: bold;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs30 {
  font-size: 30px;
}
/********** Border radius *********/
.radius {
  border-radius: 4px;
}
.border-clear {
  border: initial !important;
}
.circle {
  border-radius: 50%;
}
.circle-8 {
  border-radius: 0.28571429rem;
}
.border-grey {
  border: 1px solid #e5e5e5;
}
/********** Margin *********/
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml0 {
  margin-left: 0px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml60 {
  margin-left: 60px;
}
.ml80 {
  margin-left: 80px;
}
/********** Padding *********/
.pt0 {
  padding-top: 0px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
/********** Color *********/
.red {
  color: #f44336;
}
.pink {
  color: #e91e63;
}
.purple {
  color: #9c27b0;
}
.deep-purple {
  color: #673ab7;
}
.indigo {
  color: #3f51b5;
}
.light-blue {
  color: #03a9f4;
}
.cyan {
  color: #00bcd4;
}
.teal {
  color: #009688;
}
.green {
  color: #4caf50;
}
.light-green {
  color: #8bc34a;
}
.lime {
  color: #cddc39;
}
.yellow {
  color: #ffeb3b;
}
.amber {
  color: #ffc107;
}
.orange {
  color: #ff9800;
}
.deep-orange {
  color: #ff5722;
}
.brown {
  color: #795548;
}
.grey {
  color: #9e9e9e;
}
.blue-grey {
  color: #607d8b;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.subject-color {
  color: #2d1f87;
}
.c999 {
  color: #999;
}
.c69 {
  color: #696969;
}
.c333 {
  color: #333;
}
.ffd {
  color: #ffd100;
}
.c53 {
  color: #535353;
}
.1a1a {
  color: #1a1a1a;
}
.c38 {
  color: #383838;
}
.c666 {
  color: #666;
}
.ced {
  color: #ededed;
}
.cred {
  color: #ff0000;
}
/********** Background-color *********/
.subject-bg-color {
  background-color: #2d1f87;
}
.bg-red {
  background-color: #f44336;
}
.bg-pink {
  background-color: #e91e63;
}
.bg-purple {
  background-color: #9c27b0;
}
.bg-deep-purple {
  background-color: #673ab7;
}
.bg-indigo {
  background-color: #3f51b5;
}
.bg-blue {
  background-color: #2196f3;
}
.bg-light-blue {
  background-color: #03a9f4;
}
.bg-cyan {
  background-color: #00bcd4;
}
.bg-teal {
  background-color: #009688;
}
.bg-green {
  background-color: #4caf50;
}
.bg-light-green {
  background-color: #8bc34a;
}
.bg-lime {
  background-color: #cddc39;
}
.bg-yellow {
  background-color: #ffeb3b;
}
.bg-amber {
  background-color: #ffc107;
}
.bg-orange {
  background-color: #ff9800;
}
.bg-deep-orange {
  background-color: #fb8e01;
}
.bg-brown {
  background-color: #795548;
}
.bg-grey {
  background-color: #9e9e9e;
}
.bg-blue {
  background-color: #607d8b;
}
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.bg-default {
  background-color: #f5f7f9;
}
.bg-38 {
  background-color: #383838;
}
.bg-f5 {
  background-color: #f5f5f5;
}
.bg-bf {
  background-color: #bfbfbf;
}
.bg-ffd {
  color: #ffd100;
}
/**************font-size rem******************/
.fs10rem {
  font-size: 0.35714286rem;
}
.fs12rem {
  font-size: 0.42857143rem;
}
.fs14rem {
  font-size: 0.5rem;
}
.fs16rem {
  font-size: 0.57142857rem;
}
.fs18rem {
  font-size: 0.64285714rem;
}
.fs20rem {
  font-size: 0.71428571rem;
}
.fs22rem {
  font-size: 0.78571429rem;
}
.fs24rem {
  font-size: 0.85714286rem;
}
.fs26rem {
  font-size: 0.92857143rem;
}
.fs28rem {
  font-size: 1rem;
}
.fs30rem {
  font-size: 1.07142857rem;
}
.fs32rem {
  font-size: 1.14285714rem;
}
.fs34rem {
  font-size: 1.21428571rem;
}
.fs36rem {
  font-size: 1.28571429rem;
}
.fs40rem {
  font-size: 1.42857143rem;
}
.fs45rem {
  font-size: 1.60714286rem;
}
.fs40rem {
  font-size: 1.42857143rem;
}
.fs50rem {
  font-size: 1.78571429rem;
}
.fs70rem {
  font-size: 2.5rem;
}
/********** Margin *********/
.mt5rem {
  margin-top: 0.17857143rem;
}
.mt10rem {
  margin-top: 0.35714286rem;
}
.mt15rem {
  margin-top: 0.53571429rem;
}
.mt20rem {
  margin-top: 0.71428571rem;
}
.mt25rem {
  margin-top: 0.89285714rem;
}
.mt30rem {
  margin-top: 1.07142857rem;
}
.mt35rem {
  margin-top: 1.25rem;
}
.mt40rem {
  margin-top: 1.42857143rem;
}
.mt45rem {
  margin-top: 1.60714286rem;
}
.mt50rem {
  margin-top: 1.78571429rem;
}
.mt60rem {
  margin-top: 2.14285714rem;
}
.mt80rem {
  margin-top: 2.85714286rem;
}
.mr5rem {
  margin-right: 0.17857143rem;
}
.mr10rem {
  margin-right: 0.35714286rem;
}
.mr15rem {
  margin-right: 0.53571429rem;
}
.mr20rem {
  margin-right: 0.71428571rem;
}
.mr25rem {
  margin-right: 0.89285714rem;
}
.mr30rem {
  margin-right: 1.07142857rem;
}
.mr35rem {
  margin-right: 1.25rem;
}
.mr40rem {
  margin-right: 1.42857143rem;
}
.mr50rem {
  margin-right: 1.78571429rem;
}
.mr60rem {
  margin-right: 2.14285714rem;
}
.mr80rem {
  margin-right: 2.85714286rem;
}
.mb5rem {
  margin-bottom: 0.17857143rem;
}
.mb10rem {
  margin-bottom: 0.35714286rem;
}
.mb15rem {
  margin-bottom: 0.53571429rem;
}
.mb20rem {
  margin-bottom: 0.71428571rem;
}
.mb25rem {
  margin-bottom: 0.89285714rem;
}
.mb30rem {
  margin-bottom: 1.07142857rem;
}
.mb35rem {
  margin-bottom: 1.25rem;
}
.mb40rem {
  margin-bottom: 1.42857143rem;
}
.mb45rem {
  margin-bottom: 1.60714286rem;
}
.mb50rem {
  margin-bottom: 1.78571429rem;
}
.mb55rem {
  margin-bottom: 1.96428571rem;
}
.mb60rem {
  margin-bottom: 2.14285714rem;
}
.mb70rem {
  margin-bottom: 2.5rem;
}
.mb80rem {
  margin-bottom: 2.85714286rem;
}
.ml5rem {
  margin-left: 0.17857143rem;
}
.ml10rem {
  margin-left: 0.35714286rem;
}
.ml15rem {
  margin-left: 0.53571429rem;
}
.ml20rem {
  margin-left: 0.71428571rem;
}
.ml25rem {
  margin-left: 0.89285714rem;
}
.ml30rem {
  margin-left: 1.07142857rem;
}
.ml35rem {
  margin-left: 1.25rem;
}
.ml40rem {
  margin-left: 1.42857143rem;
}
.ml50rem {
  margin-left: 1.78571429rem;
}
.ml60rem {
  margin-left: 2.14285714rem;
}
.ml80rem {
  margin-left: 2.85714286rem;
}
/********** Padding *********/
.pt5rem {
  padding-top: 0.17857143rem;
}
.pt10rem {
  padding-top: 0.35714286rem;
}
.pt15rem {
  padding-top: 0.53571429rem;
}
.pt20rem {
  padding-top: 0.71428571rem;
}
.pt25rem {
  padding-top: 0.89285714rem;
}
.pt30rem {
  padding-top: 1.07142857rem;
}
.pt35rem {
  padding-top: 1.25rem;
}
.pt40rem {
  padding-top: 1.42857143rem;
}
.pt45rem {
  padding-top: 1.60714286rem;
}
.pt50rem {
  padding-top: 1.78571429rem;
}
.pt60rem {
  padding-top: 2.14285714rem;
}
.pt70rem {
  padding-top: 2.5rem;
}
.pt80rem {
  padding-top: 2.85714286rem;
}
.pt100rem {
  padding-top: 3.57142857rem;
}
.pr5rem {
  padding-right: 0.17857143rem;
}
.pr10rem {
  padding-right: 0.35714286rem;
}
.pr15rem {
  padding-right: 0.53571429rem;
}
.pr20rem {
  padding-right: 0.71428571rem;
}
.pr25rem {
  padding-right: 0.89285714rem;
}
.pr30rem {
  padding-right: 1.07142857rem;
}
.pr35rem {
  padding-right: 1.25rem;
}
.pr40rem {
  padding-right: 1.42857143rem;
}
.pr50rem {
  padding-right: 1.78571429rem;
}
.pr60rem {
  padding-right: 2.14285714rem;
}
.pr70rem {
  padding-right: 2.5rem;
}
.pr80rem {
  padding-right: 2.85714286rem;
}
.pb5rem {
  padding-bottom: 0.17857143rem;
}
.pb10rem {
  padding-bottom: 0.35714286rem;
}
.pb15rem {
  padding-bottom: 0.53571429rem;
}
.pb20rem {
  padding-bottom: 0.71428571rem;
}
.pb25rem {
  padding-bottom: 0.89285714rem;
}
.pb30rem {
  padding-bottom: 1.07142857rem;
}
.pb35rem {
  padding-bottom: 1.25rem;
}
.pb40rem {
  padding-bottom: 1.42857143rem;
}
.pb45rem {
  padding-bottom: 1.60714286rem;
}
.pb50rem {
  padding-bottom: 1.78571429rem;
}
.pb60rem {
  padding-bottom: 2.14285714rem;
}
.pb70rem {
  padding-bottom: 2.5rem;
}
.pb80rem {
  padding-bottom: 2.85714286rem;
}
.pb100rem {
  padding-bottom: 3.57142857rem;
}
.pl0rem {
  padding-left: 0rem;
}
.pl5rem {
  padding-left: 0.17857143rem;
}
.pl10rem {
  padding-left: 0.35714286rem;
}
.pl15rem {
  padding-left: 0.53571429rem;
}
.pl20rem {
  padding-left: 0.71428571rem;
}
.pl25rem {
  padding-left: 0.89285714rem;
}
.pl30rem {
  padding-left: 1.07142857rem;
}
.pl35rem {
  padding-left: 1.25rem;
}
.pl40rem {
  padding-left: 1.42857143rem;
}
.pl50rem {
  padding-left: 1.78571429rem;
}
.pl60rem {
  padding-left: 2.14285714rem;
}
.pl70rem {
  padding-left: 2.5rem;
}
.pl80rem {
  padding-left: 2.85714286rem;
}
/*********小程序***********/
.fs10rpx {
  font-size: 10rpx;
}
.fs12rpx {
  font-size: 12rpx;
}
.fs14rpx {
  font-size: 14rpx;
}
.fs16rpx {
  font-size: 16rpx;
}
.fs18rpx {
  font-size: 18rpx;
}
.fs20rpx {
  font-size: 20rpx;
}
.fs22rpx {
  font-size: 22rpx;
}
.fs24rpx {
  font-size: 24rpx;
}
.fs26rpx {
  font-size: 26rpx;
}
.fs28rpx {
  font-size: 28rpx;
}
.fs30rpx {
  font-size: 30rpx;
}
.fs32rpx {
  font-size: 32rpx;
}
.fs34rpx {
  font-size: 34rpx;
}
.fs36rpx {
  font-size: 36rpx;
}
.fs40rpx {
  font-size: 40rpx;
}
.fs45rpx {
  font-size: 45rpx;
}
.fs40rpx {
  font-size: 40rpx;
}
.fs50rpx {
  font-size: 50rpx;
}
.fs70rpx {
  font-size: 70rpx;
}
/********** Margin *********/
.mt5rpx {
  margin-top: 5rpx;
}
.mt10rpx {
  margin-top: 10rpx;
}
.mt15rpx {
  margin-top: 15rpx;
}
.mt20rpx {
  margin-top: 20rpx;
}
.mt25rpx {
  margin-top: 25rpx;
}
.mt30rpx {
  margin-top: 30rpx;
}
.mt35rpx {
  margin-top: 35rpx;
}
.mt40rpx {
  margin-top: 40rpx;
}
.mt45rpx {
  margin-top: 45rpx;
}
.mt50rpx {
  margin-top: 50rpx;
}
.mt60rpx {
  margin-top: 60rpx;
}
.mt80rpx {
  margin-top: 80rpx;
}
.mr5rpx {
  margin-right: 5rpx;
}
.mr10rpx {
  margin-right: 10rpx;
}
.mr15rpx {
  margin-right: 15rpx;
}
.mr20rpx {
  margin-right: 20rpx;
}
.mr25rpx {
  margin-right: 25rpx;
}
.mr30rpx {
  margin-right: 30rpx;
}
.mr35rpx {
  margin-right: 35rpx;
}
.mr40rpx {
  margin-right: 40rpx;
}
.mr50rpx {
  margin-right: 50rpx;
}
.mr60rpx {
  margin-right: 60rpx;
}
.mr80rpx {
  margin-right: 80rpx;
}
.mb5rpx {
  margin-bottom: 5rpx;
}
.mb10rpx {
  margin-bottom: 10rpx;
}
.mb15rpx {
  margin-bottom: 15rpx;
}
.mb20rpx {
  margin-bottom: 20rpx;
}
.mb25rpx {
  margin-bottom: 25rpx;
}
.mb30rpx {
  margin-bottom: 30rpx;
}
.mb35rpx {
  margin-bottom: 35rpx;
}
.mb40rpx {
  margin-bottom: 40rpx;
}
.mb45rpx {
  margin-bottom: 45rpx;
}
.mb50rpx {
  margin-bottom: 50rpx;
}
.mb55rpx {
  margin-bottom: 55rpx;
}
.mb60rpx {
  margin-bottom: 60rpx;
}
.mb70rpx {
  margin-bottom: 70rpx;
}
.mb80rpx {
  margin-bottom: 80rpx;
}
.ml5rpx {
  margin-left: 5rpx;
}
.ml10rpx {
  margin-left: 10rpx;
}
.ml15rpx {
  margin-left: 15rpx;
}
.ml20rpx {
  margin-left: 20rpx;
}
.ml25rpx {
  margin-left: 25rpx;
}
.ml30rpx {
  margin-left: 30rpx;
}
.ml35rpx {
  margin-left: 35rpx;
}
.ml40rpx {
  margin-left: 40rpx;
}
.ml50rpx {
  margin-left: 50rpx;
}
.ml60rpx {
  margin-left: 60rpx;
}
.ml70rpx {
  margin-left: 70rpx;
}
.ml80rpx {
  margin-left: 80rpx;
}
/********** Padding *********/
.pt5rpx {
  padding-top: 5rpx;
}
.pt10rpx {
  padding-top: 10rpx;
}
.pt15rpx {
  padding-top: 15rpx;
}
.pt20rpx {
  padding-top: 20rpx;
}
.pt25rpx {
  padding-top: 25rpx;
}
.pt30rpx {
  padding-top: 30rpx;
}
.pt35rpx {
  padding-top: 35rpx;
}
.pt40rpx {
  padding-top: 40rpx;
}
.pt45rpx {
  padding-top: 45rpx;
}
.pt50rpx {
  padding-top: 50rpx;
}
.pt60rpx {
  padding-top: 60rpx;
}
.pt70rpx {
  padding-top: 70rpx;
}
.pt80rpx {
  padding-top: 80rpx;
}
.pt100rpx {
  padding-top: 100rpx;
}
.pr5rpx {
  padding-right: 5rpx;
}
.pr10rpx {
  padding-right: 10rpx;
}
.pr15rpx {
  padding-right: 15rpx;
}
.pr20rpx {
  padding-right: 20rpx;
}
.pr25rpx {
  padding-right: 25rpx;
}
.pr30rpx {
  padding-right: 30rpx;
}
.pr35rpx {
  padding-right: 35rpx;
}
.pr40rpx {
  padding-right: 40rpx;
}
.pr50rpx {
  padding-right: 50rpx;
}
.pr60rpx {
  padding-right: 60rpx;
}
.pr70rpx {
  padding-right: 70rpx;
}
.pr80rpx {
  padding-right: 80rpx;
}
.pb5rpx {
  padding-bottom: 5rpx;
}
.pb10rpx {
  padding-bottom: 10rpx;
}
.pb15rpx {
  padding-bottom: 15rpx;
}
.pb20rpx {
  padding-bottom: 20rpx;
}
.pb25rpx {
  padding-bottom: 25rpx;
}
.pb30rpx {
  padding-bottom: 30rpx;
}
.pb35rpx {
  padding-bottom: 35rpx;
}
.pb40rpx {
  padding-bottom: 40rpx;
}
.pb45rpx {
  padding-bottom: 45rpx;
}
.pb50rpx {
  padding-bottom: 50rpx;
}
.pb60rpx {
  padding-bottom: 60rpx;
}
.pb70rpx {
  padding-bottom: 70rpx;
}
.pb80rpx {
  padding-bottom: 80rpx;
}
.pb100rpx {
  padding-bottom: 100rpx;
}
.pl0rpx {
  padding-left: 0rpx;
}
.pl5rpx {
  padding-left: 5rpx;
}
.pl10rpx {
  padding-left: 10rpx;
}
.pl15rpx {
  padding-left: 15rpx;
}
.pl20rpx {
  padding-left: 20rpx;
}
.pl25rpx {
  padding-left: 25rpx;
}
.pl30rpx {
  padding-left: 30rpx;
}
.pl35rpx {
  padding-left: 35rpx;
}
.pl40rpx {
  padding-left: 40rpx;
}
.pl50rpx {
  padding-left: 50rpx;
}
.pl60rpx {
  padding-left: 60rpx;
}
.pl70rpx {
  padding-left: 70rpx;
}
.pl80rpx {
  padding-left: 80rpx;
}
/********** Grid *********/
.grids {
  position: relative;
  overflow: hidden;
}
.grids:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.grids:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.grid {
  position: relative;
  float: left;
  padding: 20px 10px;
  width: 33.33333333%;
  box-sizing: border-box;
}
.grid:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.grid:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.grid:active {
  background-color: #ECECEC;
}
.grid_icon {
  width: 28px;
  height: 28px;
  margin: 0 auto;
}
.grid_icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.grid_icon + .grid_label {
  margin-top: 5px;
}
.grid_label {
  display: block;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fixed-b {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.fixed-t {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.lh100 {
  height: 3.57142857rem;
  line-height: 3.57142857rem;
}
/*弹性布局*/
.layout {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  align-self: center;
  -webkit-align-self: center;
}
.layout-juscon {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.layout-around {
  display: flex;
  justify-content: space-around;
}
.flex_1 {
  flex: 1;
}
.flex {
  display: flex;
}
.h100 {
  height: 100%;
}
.h50 {
  height: 50%;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.w70 {
  width: 70%;
}
.flexcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /* 水平居中*/
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  /* IE 10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
  /* 垂直居中 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  /* IE 10 */
  -webkit-align-items: center;
  -moz-align-items: center;
}
.flex-start {
  align-self: flex-start;
}
.flex-center {
  align-self: center;
}
.flex-end {
  align-self: flex-end;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
}
.flex-column {
  flex-direction: column;
}
.flex-w {
  flex-wrap: wrap;
}
/********边框*********/
.border {
  border: 1px solid #f2f2f2;
}
.border-b {
  border-bottom: 1px solid #f2f2f2;
}
.border-b20 {
  border-bottom: 0.71428571rem solid #f2f2f2;
}
.border-t20 {
  border-top: 0.71428571rem solid #f2f2f2;
}
.border-t {
  border-top: 1px solid #f2f2f2;
}
.border-l {
  border-left: 1px solid #f2f2f2;
}
.border-r {
  border-right: 1px solid #f2f2f2;
}
/************数量加减***************/
.quantity {
  height: 1.78571429rem;
  line-height: 1.78571429rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.quantity input {
  height: 100%;
  width: 2.5rem;
  text-align: center;
  font-size: 0.92857143rem;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.quantity i {
  height: 100%;
  color: #000;
  font-size: 0.78571429rem;
  width: 2.14285714rem;
  text-align: center;
  font-weight: bold;
}
